src/main/mule/democicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec8d61de-6677-40a7-a207-045d6db163e3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="democicdFlow" doc:id="29597eb8-6d95-4bcb-a485-fd09010ecace" >
		<http:listener doc:name="Listener" doc:id="51bccaed-466a-4181-a2c2-c1d6ccae94df" config-ref="HTTP_Listener_config" path="/Test"/>
		<set-payload value="Welcome to Mule" doc:name="Set Payload" doc:id="e8b21d12-4622-4233-8929-2f0f2bba2dac" />
		<logger level="INFO" doc:name="Logger" doc:id="16189411-d4d6-4822-a96a-b1c49ed0a99f" message="#[payload]"/>
	</flow>
</mule>
